[user]
    name = Nick Barkas
    email = nick.barkas@gmail.com

[color]
    diff = auto
    status = auto
    branch = auto

[core]
    whitespace = trailing-space,space-before-tab
    autocrlf = input
    safecrlf = true

[branch]
    autosetuprebase = always

[push]
    default = tracking
