[user]
    name = Nick Barkas
    email = nick.barkas@gmail.com

[color]
    diff = auto
    status = auto
    branch = auto

[core]
    whitespace = trailing-space,space-before-tab
    autocrlf = input
    safecrlf = true
    excludesfile = /Users/snb/.gitignore_global

[branch]
    autosetuprebase = always

[push]
    default = tracking

[alias]
    # Thanks to Daniel Lundin for this one
    guilt = "!f(){ git log --pretty='format:%an <%ae>' $@ | sort | uniq -c | sort -rn; }; f"

    ragequit = reset --hard origin/master
    pristine = clean -dffx

    subup = !git submodule sync && git submodule update --init --recursive
[notes]
    displayRef = refs/notes/*
[github]
    user = snb
[credential]
    helper = osxkeychain
